header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 200px;
  height: 600px;
  width: 100%;
  background-color: #B0C2FF;
  background-image: url(../images/transparent_header_bg_batthern.png);
}